/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: var(--Pale-blue);
}

@media (max-width: 400px) {
    body {
        background-image: url(./images/pattern-background-mobile.svg);
    }
}

/* CSS variables */

:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue:  hsl(223, 47%, 23%);
}

.card-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 2px solid crimson; */
    /* min(), max(), clamp() */
    width: min(90vw, 300px);
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0px 10px 8px #cad4f8;
}

.image-holder {
    background-color: white;
}
img {
    max-width: 100%;

}

section {
    background-color: white;
    padding: 2rem;
}

article {
    text-align: center;
    margin-bottom: 1rem;
}

article h1 {
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: 900;
}

article p {
    color: var(--desaturated-blue);
    font-size: 0.8rem;
    line-height: 1.6;
}

.annual-payment {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-block: 1.5rem;
    background-color: #f8f9fe;
    border-radius: 0.8em;
    overflow: hidden;
    padding: 15px 10px;

}

.annual-payment h3 {
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--dark-blue);
}

.annual-payment p {
    color: var(--Bright-blue);
}

.annual-payment a {
    color: var(--Bright-blue);
    margin-left: auto;
}

.annual-payment p,
.annual-payment a {
    font-size: 0.8rem;
}

.annual-payment img {
    margin-right: 5%;
}

button {
    width: 100%;
    margin-block: 0.5rem;
    font-family: inherit;
    cursor: pointer;
}

.payment {
    color: white;
    background-color: var(--Bright-blue);
    border: none;
    padding: 0.6em;
    border-radius: 0.3em;
    /* box-shadow: 0 10px 15px #dedbf8; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.cancel {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: var(--desaturated-blue);
    cursor: pointer;
}
.attribution {
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 40%;

}

